[package]
name = "work_items"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
serde = { workspace = true }
anyhow = { workspace = true }
rusqlite = { workspace = true }
db = { path = "../db" }